<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Test Suite" parallel="tests" thread-count="5">
	<listeners>
		<listener class-name="com.orbitz.flights.ListenerTestNG"></listener>
	</listeners>
	<!-- <test thread-count="5" name="Chrome Test"> <parameter name="browser" 
		value="chrome"></parameter> <classes> <class name="com.orbitz.tests.FlightBookingTest" 
		/> </classes> </test> -->

	<test thread-count="5" name="Firefox Test">
		<parameter name="browser" value="firefox"></parameter>
		<classes>
			<class name="com.orbitz.tests.FlightBookingTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
