<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Test Suite" parallel="tests" thread-count="5">
	<listeners>
		<listener class-name="listener.ListenerTestNG"></listener>
	</listeners>

	<test thread-count="5" name="Edge Test" parallel="true ">
		<parameter name="browser" value="edge"></parameter>
		<classes>
			<class name="com.orbitz.tests.FlightBookingTest" />
		</classes>
	</test> 
	<test thread-count="5" name="Chrome Test" parallel="true">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.orbitz.tests.FlightBookingTest" />
		</classes>
	</test>
	
</suite> <!-- Suite -->
